[Unit]
Description=Lock screen before suspend
Documentation=man:systemd-suspend.service(8)
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/hyprlock

[Install]
WantedBy=sleep.target
